@import url(font-awesome/css/font-awesome.css);
@import url(button.css);
*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}
.index{
    overflow: hidden;
}
canvas {
    display: block;
    vertical-align: bottom;
}
html, body {
    width: 100%;
    height: 100%;
}
/*плавная загрузка страниц*/
@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }

body {
    -webkit-animation: fade-in 1s linear; /* Safari 4+ */
    -moz-animation: fade-in 1s linear; /* Fx 5+ */
    -o-animation: fade-in 1s linear; /* Opera 12+ */
    animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
}
#header {
    background: #00C6FF;
    background: -webkit-linear-gradient(top left, #00C6FF, #0073FF);
    background: -moz-linear-gradient(top left, #00C6FF, #0073FF);
    background: linear-gradient(top left, #00C6FF, #0073FF);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
canvas{
    display:block;
    vertical-align:bottom;
}
#circle{
    width: 200px;
    height: 200px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 100%;
    margin: -100px 0 0 -100px;
}
.icon {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
    transform: rotate(90deg);
}

.arrow::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    top: -12px;
    right: -8px;
    background-color: #000;
    transform: rotate(45deg);
}

.arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    top: 12px;
    right: -8px;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
#clear {
    clear: both;
}
a{
    text-decoration: none;
}
a:link {
    color: #ffffff;
}
a:hover {
    text-decoration: none;
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
#logo{
    float: left;
}
#contact{
     float: right;
 }
#menu{
    float: right;
    color: white;
    margin-right: 50px;
    margin-top: 20px;
}
#menu td{
    padding: 5px;
}
.contactinform{
    display: inline-flex;
}
#footer{
    background: #00C6FF;
    background: -webkit-linear-gradient(top left, #00C6FF, #0073FF);
    background: -moz-linear-gradient(top left, #00C6FF, #0073FF);
    background: linear-gradient(top left, #00C6FF, #0073FF);
    width: 100%;
    height: 20vh;
    margin-top: 10%;
}
#footer td{
    padding: 2px;
}
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
    background: #eeeeee;
}

.block {
    width: 70%;
    height: 650px;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: #ffffff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.social a {
    text-align: center;
    width: 46px;
    height: 46px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 46px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.React-logo {
    height: 20vmin;
    pointer-events: none;
    margin-left: 200px;
}

@media (prefers-reduced-motion: no-preference) {
    .React-logo {
        animation: React-logo-spin infinite 20s linear;
    }
}
@keyframes React-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#certs{
    border: #0073FF solid;
    padding: 1%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
}
#servicetext ul{
    text-align: left;
    margin: auto;
    width: 600px;
}
#certs img{
    height: 120px;

}
#certs img:hover{
    transform: scale(2);
    cursor: pointer;
}

.github a:hover {background: #191919; color: #fff;}
.instagram a:hover {background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); color: #fff;}
.skype a:hover {background: #00aff0; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}
.whatsapp a:hover {background: #50b154; color: #fff;}
